In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import make_column_transformer

read in data

In [2]:
df = pd.read_csv('./data/GlobalLandTemperaturesByState.csv')

In [4]:
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

Filter to just U.S. States

In [5]:
df['Country'].unique()

array(['Brazil', 'Russia', 'United States', 'Canada', 'India', 'China',
       'Australia'], dtype=object)

In [7]:
df= df[df['Country']=='United States']

In [9]:
# check missing data. avgtemp missing about 8000 values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149745 entries, 7458 to 626439
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             149745 non-null  object
 1   AverageTemperature             141930 non-null  float64
 2   AverageTemperatureUncertainty  141930 non-null  float64
 3   State                          149745 non-null  object
 4   Country                        149745 non-null  object
dtypes: float64(2), object(3)
memory usage: 6.9+ MB

drop missing data

In [11]:
df.dropna(inplace=True)

<ipython-input-11-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [12]:
df.isna().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
State                            0
Country                          0
dtype: int64

In [16]:
df[df['State']=='Alabama']

,dt,AverageTemperature,AverageTemperatureUncertainty,State,Country
7458,1743-11-01,10.722,2.898,Alabama,United States
7463,1744-04-01,19.075,2.902,Alabama,United States
7464,1744-05-01,21.197,2.844,Alabama,United States
7465,1744-06-01,25.290,2.879,Alabama,United States
7466,1744-07-01,26.420,2.841,Alabama,United States
...,...,...,...,...,...
10692,2013-05-01,20.619,0.229,Alabama,United States
10693,2013-06-01,26.072,0.175,Alabama,United States
10694,2013-07-01,25.952,0.207,Alabama,United States
10695,2013-08-01,26.107,0.257,Alabama,United States
10696,2013-09-01,25.121,1.120,Alabama,United States

In [18]:
df2 = pd.read_excel("./data/climate_change_download_0 (1).xls")

In [21]:
df2[df2['Country name']=='United States']

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
218,USA,United States,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,1.717947,..,..,..,...,..,..,..,..,..,..,..,..,..,..
451,USA,United States,AG.LND.IRIG.AG.ZS,Agricultural land under irrigation (% of total...,0,1,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
684,USA,United States,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,0,4755.1,4510.2,5360.5,4301.1,...,5547.4,6024,6851.6,6451,6400.1,6704.3,6619.9,7238.4,..,..
917,USA,United States,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",0,1,0.843187,0.390848,0.316363,0.780507,...,0.79668,0.574884,1.235712,0.895395,1.823241,1.580322,2.168953,1.129181,1.619939,..
1150,USA,United States,EG.ELC.ACCS.ZS,Access to electricity (% of total population),0,1,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1383,USA,United States,EG.USE.COMM.GD.PP.KD,"Energy use per units of GDP (kg oil eq./$1,000...",0,1,240.29065,242.889302,239.601813,237.000348,...,196.236749,191.886428,189.069423,184.333577,177.815764,177.491568,172.971728,168.807619,169.592739,..
1616,USA,United States,EG.USE.PCAP.KG.OE,Energy use per capita (kilograms of oil equiva...,0,0,7671.554039,7631.521363,7677.394544,7709.835526,...,7838.5196,7788.318287,7875.279622,7840.532816,7691.694681,7749.233122,7481.016585,7045.165576,7231.803818,..
1849,USA,United States,EN.ATM.CO2E.KT,"CO2 emissions, total (KtCO2)",0,1,4879376.206,4870238.042,4876006.233,5167485.062,...,5437816.302,5471754.387,5563799.754,5595357.956,5514775.631,5581537.033,5461013.744,..,..,..
2082,USA,United States,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,19.546982,19.251398,19.008733,19.881136,...,18.894165,18.846932,18.986097,18.919023,18.469206,18.50765,17.941729,..,..,..
2315,USA,United States,EN.ATM.CO2E.PP.GD.KD,"CO2 emissions per units of GDP (kg/$1,000 of 2...",0,1,612.256253,612.716458,593.238625,611.146139,...,473.014005,464.34549,455.817515,444.792639,426.969103,423.906693,414.838254,..,..,..
2548,USA,United States,EN.ATM.GHGO.KT.CE,"Other GHG emissions, total (KtCO2e)",0,1,92595.5,..,..,..,...,..,..,..,239517.2,..,..,..,..,..,..
2781,USA,United States,EN.ATM.METH.KT.CE,"Methane (CH4) emissions, total (KtCO2e)",0,1,640428.4,..,..,..,...,..,..,..,548073.7,..,..,..,..,..,..
3014,USA,United States,EN.ATM.NOXE.KT.CE,"Nitrous oxide (N2O) emissions, total (KtCO2e)",0,1,311677.5,..,..,..,...,..,..,..,317153.3,..,..,..,..,..,..
3247,USA,United States,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17%; BY: 2005
3480,USA,United States,EN.CLC.DRSK.XQ,Disaster risk reduction progress score (1-5 sc...,0,1,..,..,..,..,...,..,..,..,..,..,..,..,..,..,3.5
3713,USA,United States,EN.CLC.GHGR.MT.CE,GHG net emissions/removals by LUCF (MtCO2e),0,1,-846.554878,-818.679731,-804.464712,-758.572584,...,-830.615927,-980.170627,-1033.640402,-1027.881749,-1014.528899,-1013.383977,-1007.251509,-990.061776,..,..
3946,USA,United States,EN.CLC.HCDM,Hosted Clean Development Mechanism (CDM) projects,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4179,USA,United States,EN.CLC.HJIP,Hosted Joint Implementation (JI) projects,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
4412,USA,United States,EN.CLC.HPPT.MM,"Average annual precipitation (1961-1990, mm)",Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,736
4645,USA,United States,EN.CLC.ICER,Issued Certified Emission Reductions (CERs) fr...,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4878,USA,United States,EN.CLC.IERU,Issued Emission Reduction Units (ERUs) from JI...,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
5111,USA,United States,EN.CLC.MDAT.ZS,"Droughts, floods, extreme temps (% pop. avg. 1...",0,1,..,..,..,..,...,..,..,..,..,..,..,..,0.214156,..,..
5344,USA,United States,EN.CLC.MMDT.C,"Average daily min/max temperature (1961-1990, ...",Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2 / 14.9
5577,USA,United States,EN.CLC.NAMA,NAMA submission,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5810,USA,United States,EN.CLC.NAPA,NAPA submission,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6043,USA,United States,EN.CLC.NCOM,Latest UNFCCC national communication,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/28/2010 (5th)
6276,USA,United States,EN.CLC.PCAT.C,Projected annual temperature change (2045-2065...,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0 to 3.0
6509,USA,United States,EN.CLC.PCCC,Projected change in annual cool days/cold nights,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.4 / -1.5
6742,USA,United States,EN.CLC.PCHW,Projected change in annual hot days/warm nights,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1 / 6.4
6975,USA,United States,EN.CLC.PCPT.MM,Projected annual precipitation change (2045-20...,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-26 to 98
7208,USA,United States,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7441,USA,United States,EN.POP.EL5M.ZS,Population below 5m (% of total),0,1,4.169981,..,..,..,...,..,..,..,..,..,..,..,..,..,..
7674,USA,United States,EN.URB.MCTY.TL.ZS,Population in urban agglomerations >1million (%),0,0,41.563372,41.651899,41.724837,41.829165,...,43.698774,43.985864,44.205791,44.385379,44.501831,44.556044,44.603015,44.644229,44.745616,..
7907,USA,United States,ER.H2O.FWTL.ZS,Annual freshwater withdrawals (% of internal r...,0,1,16.391057,..,..,..,...,..,..,..,16.955287,..,..,..,..,..,..
8140,USA,United States,ER.LND.PTLD.ZS,Nationally terrestrial protected areas (% of t...,0,1,14.782156,14.782191,14.785964,14.793975,...,14.81128,14.811358,14.811358,14.814127,14.814172,14.814173,14.814173,14.814429,..,..
8373,USA,United States,IC.BUS.EASE.XQ,Ease of doing business (ranking 1-183; 1=best),0,0,..,..,..,..,...,..,..,..,..,..,..,..,5,5,4
8606,USA,United States,IE.PPI.ENGY.CD,Invest. in energy w/ private participation ($),0,0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
8839,USA,United States,IE.PPI.TELE.CD,Invest. in telecoms w/ private participation ($),0,0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9072,USA,United States,IE.PPI.TRAN.CD,Invest. in transport w/ private participation ($),0,0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9305,USA,United States,IE.PPI.WATR.CD,Invest. in water/sanit. w/ private participati...,0,0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9538,USA,United States,IQ.CPA.PUBS.XQ,Public sector mgmt & institutions avg. (1-6 sc...,0,1,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9771,USA,United States,IS.ROD.PAVE.ZS,Paved roads (% of total roads),0,1,..,..,..,..,...,..,66.199997,64.5,65.339996,..,65.12,67.37,..,..,..
10004,USA,United States,NY.GDP.MKTP.CD,GDP ($),0,0,5750800000000,5930700000000,6261800000000,6582900000000,...,10590200000000,11089200000000,11812300000000,12579700000000,13336200000000,13995000000000,14296900000000,14043900000000,14582400000000,..
10237,USA,United States,NY.GNP.PCAP.CD,GNI per capita (Atlas $),0,0,23260,23460,24810,25550,...,35950,38320,41980,44630,46240,46840,47660,46330,47240,..
10470,USA,United States,SE.ENR.PRSC.FM.ZS,Ratio of girls to boys in primary & secondary ...,0,0,99.301,99.663,..,98.877,...,99.851,100.065,99.436,100.343,100.16,100.338,100.088,101.173,..,..
10703,USA,United States,SE.PRM.CMPT.ZS,"Primary completion rate, total (% of relevant ...",0,0,..,..,..,..,...,99.68697,99.58954,98.25661,96.8785,94.94584,95.89833,95.4828,96.20816,..,..
10936,USA,United States,SH.DYN.MORT,"Under-five mortality rate (per 1,000)",0,0,11.3,10.9,10.5,10.1,...,8.3,8.2,8.1,8,7.9,7.8,7.7,7.6,7.5,..
11169,USA,United States,SH.H2O.SAFE.ZS,Access to improved water source (% of total pop.),0,0,99,..,..,..,...,..,..,..,99,..,..,99,..,..,..
11402,USA,United States,SH.MED.NUMW.P3,"Nurses and midwives (per 1,000 people)",0,1,..,..,..,..,...,..,..,..,9.82,..,..,..,..,..,..
11635,USA,United States,SH.MED.PHYS.ZS,"Physicians (per 1,000 people)",0,1,1.8,1.9,1.9,1.9,...,2.3,..,2.672,..,..,..,..,..,..,..
11868,USA,United States,SH.MLR.INCD,"Malaria incidence rate (per 100,000 people)",0,0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
12101,USA,United States,SH.STA.ACSN,Access to improved sanitation (% of total pop.),0,0,100,..,..,..,...,..,..,..,100,..,..,100,..,..,..
12334,USA,United States,SH.STA.MALN.ZS,"Child malnutrition, underweight (% of under ag...",0,1,..,..,..,..,...,1.1,..,1.3,..,..,..,..,..,..,..
12567,USA,United States,SI.POV.DDAY,Population living below $1.25 a day (% of total),0,1,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
12799,USA,United States,SP.POP.GROW,Population growth (annual %),0,1,1.12965,1.336261,1.386886,1.31868,...,0.950283,0.872474,0.932516,0.919505,0.95568,0.995388,0.922517,0.861005,0.663517,..
13032,USA,United States,SP.POP.TOTL,Population,0,0,249623000,252981000,256514000,259919000,...,287804000,290326000,293046000,295753000,298593000,301580000,304375000,307007000,309050816,..
13264,USA,United States,SP.URB.GROW,Urban population growth (annual %),0,1,1.34236,1.866063,1.913896,1.842928,...,1.377366,1.29774,1.355982,1.341185,1.326279,1.364619,1.29039,1.22753,1.028703,..
13497,USA,United States,SP.URB.TOTL,Urban population,0,0,187966119,191506617,195207154,198838035,...,229610031.2,232609191.2,235784811.6,238968424,242158923,245486120,248674375,251745740,254348821.568,..