In [1]:
import censusdata as cd

In [13]:
#% pip install CensusData
import censusdata as cd
import pandas as pd
import numpy as np
import seaborn as sns
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_columns', None)

In [9]:
acs2019_income = pd.read_csv('../data/02_demo_data/ACS/ACS_2019_income_by_county/ACSST5Y2019.S1901_data_with_overlays_2021-10-05T144610.csv')

In [19]:
acs2019_income_subset = acs2019_income[['GEO_ID', 'NAME', 'S1901_C01_001E', 'S1901_C01_012E', 'S1901_C01_013E', 'S1901_C02_001E', 'S1901_C02_012E', 'S1901_C02_013E']]
acs2019_income_subset

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_012E,S1901_C01_013E,S1901_C02_001E,S1901_C02_012E,S1901_C02_013E
0,id,Geographic Area Name,Estimate!!Households!!Total,Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars),Estimate!!Families!!Total,Estimate!!Families!!Median income (dollars),Estimate!!Families!!Mean income (dollars)
1,0500000US01001,"Autauga County, Alabama",21397,58731,75326,15076,71103,87094
2,0500000US01003,"Baldwin County, Alabama",80930,58320,80986,53467,75850,97991
3,0500000US01005,"Barbour County, Alabama",9345,32525,47068,6187,41704,56374
4,0500000US01007,"Bibb County, Alabama",6891,47542,60182,4789,57891,69316
...,...,...,...,...,...,...,...,...
3216,0500000US72145,"Vega Baja Municipio, Puerto Rico",18721,19617,28805,13216,24963,32859
3217,0500000US72147,"Vieques Municipio, Puerto Rico",2258,14936,22742,1203,22429,28085
3218,0500000US72149,"Villalba Municipio, Puerto Rico",7908,19877,29612,5873,23231,32959
3219,0500000US72151,"Yabucoa Municipio, Puerto Rico",11541,16295,24078,7576,20785,28567
3220,0500000US72153,"Yauco Municipio, Puerto Rico",10990,14743,21722,6885,20855,26446

In [26]:
county_complete = pd.read_csv('../data/02_demo_data/openintro_dot_org/county_complete.csv')
county_complete_subset = county_complete[['fips', 
                           'state', 
                           'name', 
                           'smoking_ban_2010',                                                        
                           'asian_2019', 
                           'avg_family_size_2019', 
                           'black_2019',
                           'hispanic_2019',
                           'household_has_broadband_2019', 
                           'household_has_computer_2019',
                           'household_has_smartphone_2019',
                           'households_2019',
                           'households_speak_limited_english_2019',
                           'housing_mobile_homes_2019',
                           'hs_grad_2019',                           
                           'median_household_income_2019',
                           'median_individual_income_2019',
                           'native_2019',
                           'other_single_race_2019',
                           'pac_isl_2019',
                           'persons_per_household_2019',
                           'pop_2019',
                           'unemployment_rate_2019',
                           'uninsured_2019',
                           'veterans_2019',
                           'white_2019',
                           'white_not_hispanic_2019']]
county_complete_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 27 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   fips                                   3142 non-null   int64
 1   state                                  3142 non-null   object
 2   name                                   3142 non-null   object
 3   smoking_ban_2010                       3116 non-null   object
 4   asian_2019                             3142 non-null   float64
 5   avg_family_size_2019                   3142 non-null   float64
 6   black_2019                             3142 non-null   float64
 7   hispanic_2019                          3142 non-null   float64
 8   household_has_broadband_2019           3142 non-null   float64
 9   household_has_computer_2019            3142 non-null   float64
 10  household_has_smartphone_2019          3142 non-null   float64
 11  households_2019                        3142 non-null   int64
 12  households_speak_limited_english_2019  3142 non-null   float64
 13  housing_mobile_homes_2019              3142 non-null   float64
 14  hs_grad_2019                           3142 non-null   float64
 15  median_household_income_2019           3142 non-null   int64
 16  median_individual_income_2019          3142 non-null   int64
 17  native_2019                            3142 non-null   float64
 18  other_single_race_2019                 3142 non-null   float64
 19  pac_isl_2019                           3142 non-null   float64
 20  persons_per_household_2019             3142 non-null   float64
 21  pop_2019                               3142 non-null   int64
 22  unemployment_rate_2019                 3142 non-null   float64
 23  uninsured_2019                         3142 non-null   float64
 24  veterans_2019                          3142 non-null   float64
 25  white_2019                             3142 non-null   float64
 26  white_not_hispanic_2019                3142 non-null   float64
dtypes: float64(19), int64(5), object(3)
memory usage: 662.9+ KB

In [ ]:
rural_atlas =