# Combining Health and County Climate Data and Exploring

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
climate_df = pd.read_csv('../data/cleaned/precip_AirTemp_monthly_1979_2011.zip', parse_dates=['month_year_short'], dtype={'county_FIPS': object})
heat_wave_days_df = pd.read_csv('../data/cleaned/heat_wave_days_1981_2010.csv', dtype={'County Code': object})
demo_df = pd.read_csv('../data/cleaned/final_demo.csv', dtype={'fips': object})

#health data
inf_df = pd.read_csv('../data/cleaned/inf_mortality.zip', dtype={'FIPS': object})
resp_df = pd.read_csv('../data/cleaned/resp_mortality.zip', dtype={'FIPS': object})
cvd_df = pd.read_csv('../data/cleaned/cvd_mortality.zip', dtype={'FIPS': object})

In [15]:
# #climate_df.drop(columns='Unnamed: 0', inplace=True)
# #demo_df.drop(columns='Unnamed: 0', inplace=True)
# inf_df.drop(columns='Unnamed: 0', inplace=True)
# resp_df.drop(columns='Unnamed: 0', inplace=True)
# cvd_df.drop(columns='Unnamed: 0', inplace=True)

In [16]:
cvd_df

,location_name,FIPS,cause_name,sex,year_id,mx
0,Beaverhead County,30001,Cardiovascular diseases,Male,1980,629.352118
1,Beaverhead County,30001,Cardiovascular diseases,Male,1981,622.091399
2,Beaverhead County,30001,Cardiovascular diseases,Male,1982,590.455653
3,Beaverhead County,30001,Cardiovascular diseases,Male,1983,573.687746
4,Beaverhead County,30001,Cardiovascular diseases,Male,1984,566.645135
...,...,...,...,...,...,...
4290190,Wyandot County,39175,Other cardiovascular and circulatory diseases,Both,2010,9.689966
4290191,Wyandot County,39175,Other cardiovascular and circulatory diseases,Both,2011,9.641477
4290192,Wyandot County,39175,Other cardiovascular and circulatory diseases,Both,2012,9.653720
4290193,Wyandot County,39175,Other cardiovascular and circulatory diseases,Both,2013,9.765255
4290194,Wyandot County,39175,Other cardiovascular and circulatory diseases,Both,2014,9.775041